.login {
  background: #fff url("./background.jpg") no-repeat fixed center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-top: 5px solid #1ea2b1;
}

.login:after,
.login:before {
  content: "";
  display: flex;
  position: absolute;
  height: 5px;
  top: 0px;
}

.login:before {
  width: 23%;
  left: 65%;
  background-color: #b00402;
}

.login:after {
  width: 12%;
  left: 88%;
  background-color: #ea1c0a;
}
