.login {
  background: #fff url("./background.jpg") no-repeat fixed center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-top: 5px solid #1ea2b1;
}

.login div[role='progressbar'] {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.login .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  max-width: 600px;
}

.login .content h1 {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}

.login .content div:first-child {
  margin-right: 10%;
}


.login:after,
.login:before {
  content: "";
  display: flex;
  position: absolute;
  height: 5px;
  top: 0px;
}

.login:before {
  width: 23%;
  left: 65%;
  background-color: #b00402;
}

.login:after {
  width: 12%;
  left: 88%;
  background-color: #ea1c0a;
}